

<script src="~/js/Scripts/GetAllGroup.js"></script>
<div id="createUpdateForm"></div>
<h4>Group List</h4>
<button class="btn btn-primary createUpdateGroup"  onclick="createUpdateGroup(event,this);"  style="margin-bottom:10px">Create</button>
    <table id="AllGroup">
        <thead>
            <tr class="table-">
               
                <th>
                    groupName
                </th>
                <th>
                    categoryName
                </th>
                <th>
                    Act
                </th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>